.header {
  font-size: 40px;
  background-color: #ffa500;
  padding: 20px;
  margin-bottom: 40px;
}
.event,
.gallery {
  background-color: #fdfdfd;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid #dddddd;
  margin: 20px;
}
.Easel,
.header,
.footer {
  text-align: center;
}
.gallery img {
  width: 150px;
  border-radius: 8px;
  border: 1px solid #333333;
}
.Easel {
  display: flex;
  justify-content: space-around;
}

.footer {
  background-color: #ffa500;
  padding: 10px;
  margin-top: 40px;
}
