.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}
label {
  margin: 5px 0;
}

button {
  margin: 10px;
}

input[name="색상"]:checked + label {
  background-color: aliceblue;
}
