body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.container {
  padding: 20px;
  border-radius: 8px;
  width: 320px;
  text-align: left;
}
label {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  color: #999;
  margin: 5px;
}
h1 {
  text-align: center;
}
button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
  background-color: #999;
}
/* disabled hover가 동작하지 않음
hover 는 disabled 관계없이 버튼위에 마우스가 올라가면 동작함.

button:disabled 의 반대는 
button:enabled 임

button 기본적으로 enabled 활성화 상태
개발자가 원하는 조건에서만 버튼이 활성화 될 수 있도록 설정했음.

disabled -> enabled 상대가 되었을 때 버튼 활성화 색상과 마우스 표기를 진행

*/

button:enabled {
  background-color: #007bff;
  cursor: pointer;
}
